<div class="text-center">
  <h1><u>Now Playing</u></h1>
</div>

<ul>
  <% @movies.each do |movie| %>
    <li>
        <h3><u><%=link_to movie.name, movie_path(movie) %></u></h3>  Released: <%= movie.release_date%><br>
    </li>
  <% end  %>
</ul>
