<br>
<div class="text-center">
  <h1><u><%= @movie.name %></u></h1>
  <br>
    <%= image_tag 'https://image.tmdb.org/t/p/w500' + @movie.image2 %>
  <br>
</div>
<br>
<p><%= @movie.overview %></p>

<%= link_to "Save", new_ticket_path  %>
