<main class="container" style="min-height: 500px;">
  <div class="user-profile">
    <div class="profile row">
      <div class="col-md-4 avatar">
        <div class="wrapper">
          <img src="https://instagram.fsgn5-1.fna.fbcdn.net/vp/3ef315d2478029b529d3c3f38daadeb3/5C12B330/t51.2885-19/s150x150/21980557_344791629305453_6312020290528346112_n.jpg">
        </div>
      </div>

      <div class="col-md-8 basic-info">
        <div class="user-wrapper">
          <h2 class="username">luanotes</h2>
          <a class="edit-profile" href="<%= edit_user_path(current_user) %>">
            <button>Edit Profile</button>
          </a>
        </div>
        <ul class="posts">
          <li><span>12</span> posts</li>
          <li><span>195</span> followers</li>
          <li><span>345</span> following</li>
        </ul>
        <h2 class="name">Luan Nguyen</h2>
        <a class="website">luanotes.com</a>
      </div>
    </div>
  </div>
