<div class="flex-container">
  <% @user.tickets.each do |ticket| %>
  <div class="card">
    <a href="/movies/<%= ticket.movie.id %>"><%= (image_tag 'https://image.tmdb.org/t/p/w500' + ticket.movie.image) unless ticket.movie.image.nil?%><br></a>
  </div>
  <% end  %>
</div>
